{% extends "base.html" %}
{% block title %}
  О нас
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        О нас
      </div>
      <div class="card-body">
        <p>
          Автомойка предоставляет своим клиентам широкий перечень услуг 
          по мойке кузова и салона автомобиля. Наша автомойка состоит из 
          2-х боксов по 2 машины каждый, что позволяет обслуживать 
          одновременно до 4 автомобилей.
        </p>
        <p>
          На автомойке работает 4 профессиональных мойщика и администратор. 
          Администратор выполняет запись клиентов по телефону и назначает 
          мойщиков на автомобиль. Мы гарантируем качественное обслуживание 
          и индивидуальный подход к каждому клиенту.
        </p>
        <p>
          В зале ожидания вы можете ознакомиться с прайс-листом на 
          оказываемые мойкой услуги. Для постоянных клиентов предусмотрена 
          система скидок.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
