{% extends "base.html" %}
{% block title %}
  Записи по услуге {{ category.title }}
{% endblock %}
{% block content %}
  <h1 class="text-center">Записи по услуге - {{ category.title }}</h1>
  <p class="col-6 offset-3 mb-5 lead text-center">{{ category.description }}</p>
  <p class="text-center"><strong>Цена: {{ category.price }} руб.</strong></p>
  {% for post in page_obj %}
    <article class="mb-5">  
      {% include "includes/post_card.html" %}
    </article>   
  {% endfor %}
  {% include "includes/paginator.html" %}
{% endblock %}
